name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run HTML Linter
      uses: Cyb3r-Jak3/html5validator-action@v3
      with:
        root: ./
        log_level: INFO

    - name: Upload HTML report (artifact)
      uses: actions/upload-artifact@v4
      with:
        name: html-lint-report
        path: .
